.container {

  h5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 11px;
    font-weight: bold;
    opacity: 0.3;
    margin: 0;
  }

  ion-icon {
    font-size: 60px;
  }
}
